<html>

<head>
	<style>
	
	
	
.carddemoBasicUsage .card-media {
  background-color: #999999; }
	</style>
    <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>SEM | Course</title>
	
  </head>
  <body ng-app="semApp" ng-cloak>

	<md-content>
    <!-- The top toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          
        </md-button>
        <h2>
          <span class="md-title">Software Engineering Management !</span>
        </h2>
      </div>
    </md-toolbar>
	
	
    <!-- The content area -->
    <div layout="row">
		<!-- 20% padding to the left -->
		<div flex="10"></div>
	  
		<!-- The main action happens here -->

		<div flex >
			<div ng-controller="AppCtrl" class="sample" layout="column" ng-cloak>
				<md-content class="md-padding">
					<md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom md-autoselect>
						<md-tab label="overview">
							<md-content flex layout-padding>
								<p>
									In the course of Software Enginnering and Management @ BITS Pilani, the class was divided into four teams namely,
									<ol>
										<li>Li8 Technologies</li>
										<li>D`Falcons</li>
										<li>NDAARP</li>
										<li>Cube-X</li>
									</ol>
								<p>
									Each team had to propose a product idea, design and develop the product following all the principles of software engineering starting from software model, cost estimation to software testing and documentation.
								</p>
								<p>
									<span class="md-title">Li8 Technologies</span> proposed the idea of a centralized Notice board for the students of BITS Pilani. <a href="http://nlite.herokuapp.com">NLite Web Admin</a> and <a href="https://play.google.com/store/apps/details?id=com.ndaarp.n_li8">NLite Mobile App</a>									
								</p>
								<p>
									<span class="md-title">D'Falcons</span> proposed a college news aggregator to keep track of various technical and cultural events across premier colleges. <a href="http://college-khabar.herokuapp.com/">College Khabar</a>
								</p>
								<p>
									<span class="md-title">NDAARP</span> proposed a personal assistace mobile app with smart priority system. <a href="https://play.google.com/store/apps/details?id=com.ndaarp.ndaarp_project.yourassist">Your Assist</a>
								</p>
								<p>
									<span class="md-title">Cube-X</span> proposed an app that would connect student and professors of BITS Pilani along with providing basic information about BITS Pilani. <a href="https://play.google.com/store/apps/details?id=com.bits.android.stayontime">Stay On Time</a>
								</p>
								<p>
									NB: The various links to the live apps of all the teams => Working as of 6/12/2015
									
								</p>
							  </md-content>

						</md-tab>
						<md-tab ng-repeat="tab in tabs"
						  ng-disabled="tab.disabled"
						  label="{{tab.title}}">
							<md-content ng-if="tab.content.length==0">
								<p class="md-display-2"> Coming Soon! </p>
							</md-content>
							<md-tabs ng-if="tab.content.length != 0" md-dynamic-height md-border-bottom md-autoselect>
								
								<md-tab ng-repeat="pdf in tab.content" label="{{title[$index]}}">
									<md-card>
										<md-card-title>
										  <md-card-title-text>
											<span class="md-headline"></span>											
										  </md-card-title-text>
										  <md-card-title-media>
											<div layout="row" layout-wrap>											
												<div flex="50" >
													<div class="md-media-md card-media">
														<script async class="speakerdeck-embed" data-id="{{getUrl(pdf.speakerdeck)}}" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js/"></script>
													</div>
												</div>
												<div flex="10"></div>
												<div flex="40">
													<p>
														{{pdf.desc}}
													</p>
												</div>
											</div>
										  </md-card-title-media>
										</md-card-title>
										<md-card-actions layout="row" layout-align="end center">
										  <md-button>Download</md-button>										  
										</md-card-actions>
									</md-card>
									
								</md-tab>
							</md-tabs>
						</md-tab>
						<md-tab label="conclusion">
							<md-content flex layout-padding>
								<p class="md-headline">
									Focus on the process and not on the product.
								</p>
								<p>
								For further clarifications reach out any member of the<a href="https://www.facebook.com/groups/488831567908551/"> facebook group of the batch.</a>
								</p>
							</md-content>
						</md-tab>
					</md-tabs>
					
				</md-content>
			  
			</div>
		</div>
	
      

      

      <!-- 20% padding to the right -->
      <div flex="10"></div>
    </div>
  </md-content>



	<!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	
	<script src="./app.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  </body>
  
</html>